.car {
  width: 100%;
  border-radius: 0.75rem;
}
.btn-orange {
  background: #ff8c00;
  color: #fff;
  border: none;
}
.btn-orange:hover {
  background: #fb8500;
  color: #fff;
}
.card-img-top {
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.card {
  padding-left: 2%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  transition: transform 0.2s ease-in-out;
}
.card-title {
  font-size: 1.25rem;
  /* color:orange; */
  font-weight: bold;
}
 
.card-body {
  padding: 1rem 1.5rem;
}
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}