.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #f8f9fa;
}
 
.right-panel {
  width: 100%;
  max-width: 600px;
}
.mb-4{
  color: orange;
}
 
.card {
  background: #fff;
  border-radius: 8px;
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
}
 
.card-body h5,
.card-body h2,
.card-body label {
  color: orange;
  font-weight: 500;
}
 
 
.btn {
  color: #33333390;
  background: #fff3dedd;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  display: inline-block;
  transition: background 0.2s;
  cursor: pointer;
  border: none;
  font-weight: 500;
}
 
.btn:hover {
  background: orange;
  color: white;
}
 
.btn-custom {
  width: 100%;
  font-size: 1rem;
}