
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: orange;
  }
  
  .card {
    padding-left: 2%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    transition: transform 0.2s ease-in-out;
  }
   
  .card-body {
    padding: 1rem 1.5rem;
  }
  .card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }